@import "../resources.scss";

.header {
	@include flex-between();
	height: 44px;
	background-color: $white;
	padding: 5px 20px;
	border-bottom: 1px solid $gray;
	position: sticky;
	top: 0;

	&__burger-icon {
		display: flex;
		position: relative;
	}

	&__unwatched-circle {
		width: 8px;
		height: 8px;
		background-color: $blue;
		border: 1px solid $white;
		border-radius: 50%;
		position: absolute;
		right: 0px;
	}

	&__title {
		@include text-black(16px, 800);
		margin: auto;
		letter-spacing: -0.5px;
	}
}
