.tweet {
    &__thread {
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__small-user {
        width: 36px;
        height: 36px;
    }
    &__show-thread {
        color: $blue-color;
    }
}
