.tweet {
	padding: 12px 20px;
	border-bottom: 1px solid $gray;

	&__wrapper {
		display: flex;
		gap: 8px;
		margin-bottom: 4px;
	}

	&__image {
		min-width: 55px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__author-image {
		min-width: 55px;
		min-height: 55px;
	}

	&__line {
		width: 2px;
		height: 100%;
		background-color: $gray;
		border-radius: 1px;
	}

	&__user-info {
		display: flex;
		gap: 5px;
	}

	&__username {
		@include text-black(16px, 700);
	}

	&__nickname,
	&__hours {
		@include text-dark-gray(16px, 400);
	}

	&__tweet-body {
		padding-bottom: 8px;
	}

	&__counters {
		display: flex;
		gap: 44px;
	}

	&__counter {
		display: flex;
		gap: 4px;
		color: $dark-gray;
	}

	&__thread {
		max-width: 37px;
	}

	&__reply {
		@include text-dark-gray(16px, 400);
		display: flex;
		gap: 5px;
	}

	&__reply-tag {
		@include text-activity(16, 400);
	}

	&__reply-branch {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__reply-branch-dots {
		@include flex-center;
		width: 55px;
	}
}
