.tweet__additional {
	@include text-dark-gray(16px, 400);
	display: flex;
	align-items: center;
	margin-bottom: 2px;
	padding-top: 6px;
	padding-left: 42px;
}

.tweet__shaded-like {
	margin-right: 9px;
}
