.tweet {
	&__thread {
		display: flex;
		align-items: center;
		gap: 16px;
		padding-left: 10px;
	}
	&__thread-user-avatar {
		width: 36px;
		height: 36px;
	}
	&__show-thread {
		@include text-activity(16px, 400);
	}
}
