APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:yTzDM6T1HUJXi742+EpJw0VpK4siDjxrg5BaEPSx6Wk=
JWT_SECRET=EcW37WaYTdyzhaeeAvKeHrkmP3v1tSKv1Y4k6f06SeyKgWh75kOG48RL94XhHhTk
APP_DEBUG=true
APP_URL=http://localhost:8000

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=twitter
DB_USERNAME=admin
DB_PASSWORD=root

KAFKA_BROKER_LIST=kafka:9092

CACHE_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

ELASTICSEARCH_HOST=elasticsearch:9200
SCOUT_DRIVER=elastic
ELASTIC_HOST=elasticsearch:9200
SCOUT_ELASTICSEARCH_HOST=elasticsearch:9200
SCOUT_ELASTICSEARCH_PORT=9200

BROADCAST_DRIVER=log
FILESYSTEM_DISK=local
LOG_CHANNEL=elasticsearch
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
