.overlay {
	@include modal-overlay();
}

.modal {
    /* FIXME: adaptive modal height */
	@include modal(-353px);

	&__open {
		@include modal-open();
	}

	&__wrapper {
		@include modal-wrapper();
	}

	&__rectangle {
		align-self: center;
	}

	&__button {
		@include modal-button();
	}

	&__all-users-icon {
		width: 24px;
		height: 18px;
		margin: 0px 16px;
	}

	&__pen-icon {
		width: 20px;
		height: 20px;
		margin: 0px 16px;
	}

	&__cancel {
		@include modal-cancel();
	}
}
