.body {
	@include flex-column();
	align-items: flex-start;
	align-self: stretch;
	padding: 8px 20px;
	flex-shrink: 0;

	&__input-container {
		@include flex-start();
		gap: 8px;
		align-self: stretch;
	}

	&__avatar-group {
		@include flex-column();
		min-height: 61px;
		align-items: center;
		gap: 4px;
		align-self: stretch;
	}

	&__avatar {
		img {
			width: 37px;
			height: 37px;
			border-radius: 37px;
		}
	}

	&__avatar-line {
		width: 2px;
		min-height: 20px;
		flex-grow: 1;
		background-color: $gray;
		border-radius: 2px;
	}

	&__input {
		@include text-black(19px, 400);
		display: flex;
		align-items: flex-start;
		padding-top: 8px;
		flex-grow: 1;
		letter-spacing: -0.5px;
		overflow: hidden;
        resize: none;

		&::placeholder {
			@include text-dark-gray(19px, 400);
		}
	}

    &__close-button {
        width: 8px;
        height: 8px;
    }
}
