.auth {
	padding: 25px 45px;
	position: relative;
	height: calc(100vh - 50px);

	&__form {
		position: relative;
		height: 100%;
		@include flex-column();
		row-gap: 25px;

		margin-bottom: 16px;
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 36px;
	}

	&__title {
		@include text-black(24px, 700);
		margin-bottom: 4px;
	}

	&__button {
		@include blue-button(100%, 50px);

		position: absolute;
		bottom: 0;
		left: 0;
	}
}
