.registration {
	padding: 25px 45px;
	position: relative;

	&__page-container {
		height: 100vh;
		position: relative;
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 36px;
	}

	&__title {
		@include text-black(24px, 700);
		margin-bottom: 28px;
	}

	&__fields {
		@include flex-column();
		row-gap: 25px;

		margin-bottom: 16px;
	}

	&__birth-date {
		&-title {
			@include text-black(14px, 700);

			margin-bottom: 8px;
		}

		&-text {
			@include text-black(12px, 500);
			margin-bottom: 24px;
		}

		&-fields {
			display: flex;
			gap: 8px;
		}
	}

	&__select {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	&__select-wrapper {
		@include flex-column();
		height: 56px;
		padding: 6px 12px;
		border: 1px $black solid;
		border-radius: 5px;

		position: relative;
	}

	&__select-label {
		@include text-black(12px, 500);
	}

	&__select-value {
		@include text-black(16px, 500);
		margin-top: 4px;
	}

	&__dropdown {
		width: 16px;
		position: absolute;
		top: 50%;
		right: 12px;
		transform: translateY(-50%);
	}

	&__changer {
		@include text-activity(12px, 500);
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		&-next {
			width: 100%;
			height: 50px;
			background-color: #91a7bc;
			border-radius: 100px;
			color: $white;

			position: absolute;
			bottom: 5vh;
		}

		&-reg {
			width: 100%;
			height: 50px;
			background-color: $blue;
			border-radius: 100px;
			color: $white;

			position: absolute;
			bottom: 5vh;
		}
	}

	&__terms {
		@include text-black(10px, 500);

		position: absolute;
		bottom: calc(5vh + 75px);
	}

	&__terms-link {
		@include text-activity(10px, 500);
	}
}
