@import "../../../styles/modal.scss";

.overlay {
	@include modal-overlay();
}

.modal {
	@include modal();
	max-width: 430px;
	max-height: 900px;
	margin: 0 auto;

	&__retweet-icon {
		width: 24px;
		height: 18px;
		margin: 0px 16px;
	}

	&__pen-icon {
		width: 20px;
		height: 20px;
		margin: 0px 16px;
	}
}
