@import "../../resources.scss";

* {
	font-family: "SF Pro Display", sans-serif;
}

.wrapper {
	border-bottom: 1px solid $gray;
}

.tweet {
	padding: 12px 20px;

	&__wrapper {
		display: flex;
		gap: 8px;
		margin-bottom: 4px;
	}

	&__image {
		min-width: 54px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__user-avatar {
		width: 54px;
		height: 54px;
		display: block;
		margin-bottom: 4px;
	}

	&__line {
		width: 2px;
		height: 100%;
		background-color: $gray;
		border-radius: 1px;
	}

	&__tweet-body {
		padding: 24px 10px 35px;
		font-size: 22px;
		font-weight: 300;
	}

	&__user-info {
		display: flex;
	}

	&__names {
		@include flex-column();
		margin-left: 8px;
		margin-top: 8px;

		& span {
			letter-spacing: -0.3px;
		}
	}

	&__username {
		@include text-black(16px, 600);
	}

	&__nickname {
		@include text-dark-gray(16px, 400);
	}

	&__time-date {
		display: flex;
		@include text-dark-gray(16px, 400);
	}

	&__counters {
		display: flex;
		gap: 8px;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		padding: 12px 0;
		margin: 12px 0;
	}

	&__counter {
		font-weight: 600;
	}

	&__retweets,
	&__likes {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&__buttons {
		@include flex-center();
		gap: 75px;
	}

	&__button {
		@include flex-center();

		img {
			height: 18px;
			width: 18px;
		}
	}
}
