$gray: #bdc5cd;
$dark-gray: #687684;
$light-gray: #e7ecf0;
$blue: #4c9eeb;
$white: #fff;
$red: #ce395f;
$unactive: #b9dcf7;
$bold-text: #141619;
$overlay: rgba(0, 0, 0, 0.5);

$z-action-button: 1;
$z-footer: 1;
$z-header: 1;
$z-overlay: 2;
$z-modals: 3;

@mixin flex-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-start() {
	display: flex;
	align-items: flex-start;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
}

@mixin text-dark-gray($text-size, $text-weight) {
	font-size: $text-size;
	font-weight: $text-weight;
	color: $dark-gray;
}

@mixin text-black($text-size, $text-weight) {
	font-size: $text-size;
	font-weight: $text-weight;
	color: $bold-text;
}

@mixin text-activity($text-size, $text-weight) {
	font-size: $text-size;
	font-weight: $text-weight;
	color: $blue;
}

@mixin modal-overlay {
	width: 100%;
	height: 100%;
	background-color: $overlay;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-overlay;
}

@mixin modal($bottom) {
	@include text-black(19px, 400);
	width: 100%;
	background: white;
	padding: 8px 8px 32px 8px;
	border-radius: 12px;
	position: fixed;
	bottom: $bottom;
	z-index: $z-modals;
	transition: bottom 0.5s ease;
}

@mixin modal-open {
	bottom: 0;
	transition: bottom 0.5s ease;
}

@mixin modal-wrapper {
	@include flex-column();
	align-items: start;
	gap: 8px;
}

@mixin modal-button {
	display: flex;
	align-items: center;
	align-self: stretch;
	padding: 16px 0;
}

@mixin modal-cancel {
	width: 100%;
	height: 50px;
	background-color: $light-gray;
	align-self: center;
	border-radius: 24px;
}
