$gray: #bdc5cd;
$dark-gray: #687684;
$light-gray: #e7ecf0;
$blue: #4c9eeb;
$white: #fff;
$bold-text: #141619;
$overlay: rgba(0, 0, 0, 0.5);

$def-prior: 1;
$el-prior: 5;
$modal-prior: 10;
$over-modal-prior: 15;
$highest-prior: 20;

@mixin flex-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-start() {
	display: flex;
	align-items: flex-start;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
}

@mixin text-dark-gray($text-size, $text-weight) {
	font-size: $text-size;
	font-weight: $text-weight;
	color: $dark-gray;
}

@mixin text-black($text-size, $text-weight) {
	font-size: $text-size;
	font-weight: $text-weight;
	color: $bold-text;
}

@mixin text-activity($text-size, $text-weight) {
	font-size: $text-size;
	font-weight: $text-weight;
	color: $blue;
}
